extends ../layout/main

block title
		title EcoAqua Правила и условия сайта
block description
		meta(name="description" content="EcoAqua Правила и условия сайта")
block content
	.simple-text-container
		h3 Правила и условия
		h5 1. Общие положения
		p Настоящие правила продажи товаров через интернет-магазин (далее, Правила) определяют порядок продажи представленных товаров и оказания в связи с такой продажей услуг, а также регулируют отношения между покупателем и продавцом товара. Интернет-магазин - интернет-сайт с доменным именем <span class="getHostName"></span>,в котором любой посетитель может ознакомиться с описанием и ценами представленных товаров, выбрать определенные условия оплаты и доставки, сформировать заказ на сайте или по телефону Информационного центра. Интернет-магазин является местом, где заключается договор о купле-продаже товара между продавцом и покупателем путем оформления покупателем заказа и отправки его продавцу (фактическим адресом продажи товара является фактический адрес продавца, указанный в разделе интернет-магазина "Контакты").
		h5 2. Термины и определения
		p Под Продавцом далее подразумевается интернет-магазин, осуществляющий продажу товаров на основании ознакомления покупателя с предложенными Продавцом описаниями, содержащимися в электронном каталоге на интернет-сайте <span class="getHostName"></span> контактные данные продавца указываются в разделе интернет-магазина "Контакты", а реквизиты для оплаты указаны в электронном письме, которое отправляется клиенту после оформления заяввки на сайте от имени office@<span class="getHostName"></span>;
		p Под Покупателем подразумевается гражданин, имеющий намерение приобрести либо приобретающий или использующий товары исключительно для личных семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности или организация и индивидуальный предприниматель, имеющие намерение приобрести либо приобретающие товары для целей, связанных с предпринимательской деятельностью;
		p Под Электронным письмом подразумевается отправка текста с реквизитами для оплты, конечной суммой оплаты, названием товара и услуги за которую произодится оплата, посредством технологии email. Покупатель получает это письмо с адреса office@<span class="getHostName"></span>, на адрес, который указывает в форме заказа в интерент-мазине с доменным именем <span class="getHostName"></span>.
		h5 3. Предмет договора и цена товара
		p Предложение товара в его описании на интернет-сайте <span class="getHostName"></span> является публичной офертой. Продажа товаров осуществляется Продавцом в соответствии с Гражданским кодексом Российской Федерации.
		p Договор (публичная оферта) о купле-продаже товара между продавцом и покупателем-частным лицом считается заключенным в случае перечисления средств согласно указаной суммы для оплаты товара и реквизитов указаных в электронном письме отправленого на почту клиенту после заполнение формы заявки на сайте интернет-магазина с доменным <span class="getHostName"></span> и получения продавцом посредством Интернета этих средств и данных заказа.
		p Цены на товары и услуги указаны в счете и соответствуют ценам, представленным в электронном каталоге на момент его выписки.
		p Условия настоящего договора считается исполненными с момента доставки товара в место, указанное Покупателем.
		p Право собственности на товар переходит к Покупателю после оплаты и подписания им товарно-сопроводительных документов при получении товара.
		h5 4. Права и обязанности сторон
		h5 4.1. Доставка товара
		p Продавец обязан передать покупателю товар, качество которого соответствует договору и информации, представленной покупателю при заключении договор, а также информации, доведенной до его сведения при передаче товара (в технической документации, прилагаемой к товару, на этикетках, путем нанесения маркировки либо иными способами, предусмотренными для отдельных видов товаров).
		p Передача покупателю товара производится путем перевозки транспортной компанией с доставкой товара по месту, указанному покупателем или другими способами доставки, выбранными при оформлении покупателем заказа (Информация о доставке указана в разделе интернет-магазина «Доставка товара»)
		p Продавец обязан передать товар покупателю в порядке и сроки, указанные в заказе.
		p Для доставки товаров в место, указанное покупателем, продавец может использовать услуги третьих лиц (с обязательным информированием об этом покупателя).
		h5 4.2. Оплата товара
		p Оплата Товара производится путем перечисления по безналичному расчету на расчетный счет Продавца в рублях, реквизиты которого указанные в Электронном письме.
		h5 4.3. Возврат товара
		p Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара — в течение 20 (двадцати) дней.
		p Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара. В соответствии законом РФ «О защите прав потребителей» Продавец не принимает возврат товара, бывшего в употреблении. При отказе Покупателя от заказанного Товара, Продавец удерживает из суммы, уплаченной Покупателем за Товар в соответствии с договором, расходы Продавца, связанные с возвратом Товара.
		p Товар, приобретенный покупателем в случае ошибки при подборе по вине продавцов Интернет-магазина или ошибки в каталоге товаров Интернет-магазина, подлежит обмену на другой товар при соблюдении вышеуказанных условий. Транспортные услуги в данном случае оказываются бесплатно
		p В случае продажи товара ненадлежащего качества или с нарушений условий договора, покупатель обязан известить продавца по контактному телефону. Вернуть товар путем отправки почтовой посылки с товаром на фактический адрес (указанный на сайте интернет-магазина). Все разногласия стороны решают путем переговоров. В случае невозможности их решения путем переговоров, стороны должны действовать в соответствии с Законодательством России.
		h5 4.5. Гарантии и ответственность
		p Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретённых в Интернет-магазине. Продавец не отвечает за убытки Покупателя, возникшие в результате: </br>-указания в Заказе неправильных данных;</br>-неправомерных действий третьих лиц. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если такое неисполнение явилось следствием действия обстоятельств неопределенного характера, возникших после вступления в силу Правил, в результате событий чрезвычайного характера, которые Стороны не могли предвидеть и предотвратить разумными мерами (форс-мажор).
		p В иных случаях неисполнения или ненадлежащего исполнения своих обязательств Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
		h5 4.6. Прочие условия
		p Продавец принимает все предусмотренные законодательством меры по недопущению разглашения персональных данных Покупателя. При этом не считается разглашением предоставление Продавцом информации своим агентам и иным третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Покупателем.
		p В случае, если в соответствующих разделах Интернет-сайта будут указаны иные условия порядка и стоимости доставки Товара, порядка оплаты, условия гарантии и пр., нежели это определено в настоящих Правилах, впредь до внесении соответствующих изменений в настоящие Правила применению подлежат условия.