////
/// Fonts
///
/// @group Settings
///
////

//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=cyrillic');
$font: 'Montserrat', sans-serif;

* { font-family: $font }

p{
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

h1 {
	font-weight: 800;
	font-size: 3.2rem;
	line-height: 3.2rem;
	margin: .5em 0;
}

h2 {
	font-weight: 800;
	font-size: 2.7rem;
	line-height: 2.7rem;
	margin: .5em 0;
}

h3 {
	font-weight: 800;
	font-size: 2.3rem;
	line-height: 2.3rem;
}

h4 {
	font-weight: 800;
	font-size: 2rem;
	line-height: 2rem;
	margin: .5em 0;
}

h5 {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-top: 0;
}

h6 {
	font-weight: 600 !important;
	font-size: 23px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

ul{
	font-size: 18px;
	line-height: 30px;
}