/*
*
*
* Containers
*
*
*/
@import '../settings/colors';
body,html{
	overflow-x: hidden;
	background: #f9f9f9;
}

.container{
	background: transparent;
	padding: 0 3%;
	overflow: hidden;
}

#thankYouPage{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #1297D6;
	padding: 5em;
	text-align: center;
	color: white;
	h3,h5{ max-width: 800px;}

	.bigThankYou{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		opacity: .1;
		transform: translate(-50%,-50%);
	}
}
.background-blue{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw !important;
	height: 100vh !important;
  background: linear-gradient(45deg, #1980B0, #0FA1E8);
  pointer-events: none;
}
