.fullwidth{
	position: relative;
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	background: #fff;
	.about{
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: flex-start;
		width: 100%;
		padding: 2em 1em ;
	}
	.map-container{
		width: 100%;
		#map{
			min-height: 100vh;
			height: 100%;
			width: 100%;
		}
	}
}

@media(min-width: 800px){
	.fullwidth{
		flex-direction: row;
		.about{
			width: 50%;
			padding: 5em;
		}
		.map-container{ width: 50%; }
	}

}