/*
*
*
* Desktop > 1024
*
*
*/


@media ( min-width: 1024px ) {
/* -------------------------------
* TYPOGRAPHY
*------------------------------- */
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }




/* -------------------------------
* INTRO
*------------------------------- */
  #intro-component{
    padding-top: 5em;
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .offer { width: 50%; }
    .product-img { order: 1; width: 50%; }
    .cta{
      margin-top: 2em;
      h3{ padding-top: 4em; }
    }
  }

/* -------------------------------
* TERMS SECTIONS
*------------------------------- */
#terms-component{
    .container{ flex-direction: row; }
    .terms-item{ flex-direction: row; }
    .terms-item__img{ margin: 1em; }
}


}

@media ( min-height: 769px ) {
  #video{ position: relative; bottom: -50px; }
}