@import '../settings/colors';
@import '../settings/typography';

/* Customize the label (the container) */
form{

	label {
		width: 100%;
		display: block;
		line-height: 1.3em;
		font-size: 14px;
	}

	input{
		display: block;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		font-family: $font;
		margin: .5em 0;
		color: #fff;
		appearance: none;
		&:active, &:focus{
			box-shadow: none;
			outline: none;
		}
	}

}
