.modal{
	display: none;
	opacity: 0;
	position: fixed;
	flex-direction: column;
	overflow-y: scroll;
	z-index: 999;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	padding: 2em;
	transition: all .5s;

	.modal__navigation{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		min-height: 50px;

		span.modal__navigation_back, span.modal__navigation_close{
			color: white;
			font-size: 20px;
			display: flex;
			max-width: 150px;
			align-items: center;
			cursor: pointer;
			img{ margin-right: 1em; }
		}
	}
}
.stop-scroll{ overflow: hidden !important; }