@import '../settings/colors';
#product-video-story-component{
	display: none;
	position: relative;
	padding: 5em 0;
	color: white;
	overflow: hidden;
	height: 2000px;
	.title{
		font-size: 2.3em;
		letter-spacing: -2px;
		line-height: 1em;
		font-weight: 800;
	}
	.PVS__frame{
		margin: 0;
		padding: 1em;
		background: rgba(248, 248, 248, 0.9);
		position: relative;
		text-align: left;
		padding-left: .5em;
		z-index: 999;
		color: rgba(0,0,0,0.8);
		.title{
			display:inline;
			margin: 0
		}
		.step{
			display: none;
		}
	}

	#PVS__frame0{
		position: relative;
		margin: 0 auto;
		opacity: 0;
		top: 0;
		background: none;
		.title {
			position: absolute;
			margin: 0 auto;
			text-align: center;
		}
	}
	#PVS__frame1{
		margin: 0 auto;
		top: 200px;
	}

	#video-container {
		z-index: 100;
		position: fixed;
		margin: auto;
		top: auto; right: auto; bottom:0; left: auto;
		box-sizing: border-box;
		width: 100%;
		pointer-events: none;
		video{
			opacity: 0;
			pointer-events: none;
			display: none;
			width: 100vw;
		}
	}


}