#specification-modal{
	padding: 2em;
	color: white;
	font-size: 13px;
	.modal__content_tables{
		max-width: 800px;
		margin: 5em auto;
	}
	table.specification__table{
		position: relative;
		margin: 4em auto;
		color: #fff;
		td{ padding: .2em .5em; }
		tr:nth-child(odd){ background: rgba(255,255,255,.2) }
		.table-col{
			display: inline-block;
			position: relative;
		}
		table tr::first-child{
			background: red !important;
		}
	}
}

#minirals-modal{
	padding: 2em;
	color: white;
	text-align: center;
	h3{ font-size: 1.8em;}
	.modal__content_tables{
		max-width: 800px;
		margin: 5em auto;
	}
	table.minirals__table{
		position: relative;
		display: inline-block;
		color: #fff;
		margin-right: 2em;
		td{ padding: .2em .5em; }
		tr:nth-child(odd){ background: rgba(255,255,255,.2) }
		.table-col{
			display: inline-block;
			position: relative;
		}
		table.minirals__table::first-child{
			margin-right: 4em;
		}
	}
}











