@import '../settings/colors';
#terms-component{
	color: white;
	transition: background .7s, color .7s;
	.container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.terms-item{
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
		z-index: 1;
		.terms-item__img{
			min-width: 75px
		}
	}
	.terms-item__img img{
		width: 100%;
		max-height: 75px;
	}
}