/*
*
*
* Tester section
*
*
*/
@import '../settings/colors';

#tester-component{
	padding: 10em 0;
	color: white;
	background: $blue;
	transition: background, .7s, color .7s;
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.text-block{ width: 100% }
	.img-block{
		width: 100%;
		position: relative;
		text-align: center;
	}
}