#calculator-component
	.container
		h2 Калькулятор экономии:
		form.calculator
			.inputs
				.calculator__input-group.calculator__input-group_people
					label(for="calculator__peoples") Человек <br>в семье:
					input(type="text" value="3")#calculator__peoples
				.calculator__input-group.calculator__input-group_liters
					label(for="calculator__peoples") Литров<br>на каждого:
					input(type="text" value="1.5")#calculator__liters
				.calculator__input-group.calculator__input-group_price
					label(for="calculator__peoples") Стоимость<br>литра:
					input(type="text" value="40")#calculator__price
			.calculator__result Вы тратите на воду
				include ../partial/counter.pug

		p.calculator-description <b>А фильтр стоит 5000 ₽</b> + расходники меняются раз в год за 2500руб. При этом вы будете пить самую полезную воду из доступных в городских условиях!
