#counter
	- var digitsCount = 6;
	span#calculator__result-counter.calculator__result-counter
		span.counter-chars-splitted 6
		span.counter-chars-splitted 5
		span.counter-chars-splitted 7
		span.counter-chars-splitted 0
		span.counter-chars-splitted 0
	span.calculator__result-currency ₽
