#intro-component
	.container
		.product-img
			img(src="img/filter.png", alt="фильтр обратного осмоса")
		.offer
			h1 Фильтры обратного осмоса
			h5 Фильтры обратного осмоса с минерализатором <b>от&nbsp;5000&nbsp;₽</b> с&nbsp;установкой, пожизненной гарантией и бесплатной доставкой.
			#intro__cta.cta
				#intro__cta-line.intro__cta-line.intro__cta-line_animate
				a(href="#") Cколько он вам сэкономит?
				h3#calculator-anchor Калькулятор<br/>экономии:
