#intro-component
	.container
		.product-img
			img(src="img/product.png", alt="фильтр обратного осмоса")
		.offer
			h1 Фильтр обратного осмоса
			.bullets
				.bullets__item Минерализатор
				.bullets__item Биоактиватор
				.bullets__item Постфильтр
				.bullets__item Бак 9 л.
				.bullets__item Розетка не нужна
			p Фильтр обратного осмоса для дома <b>за&nbsp;5000&nbsp;₽</b> с&nbsp;гарантией,  доставкой и установкой.
			a(href="#").btn.btn-white Калькулятор экономии
