#minirals-modal.modal
	.modal__navigation
		span.modal__navigation_back.closeMiniralsModal
			img(src="img/back.svg", alt="вернуться назад")
			| Назад
		span.modal__navigation_close.closeMiniralsModal
			img(src="img/close.svg", alt="закрыть окно")
	.modal__content
		h3 Состав воды <br/>после минерализации
		.modal__content_tables
			table.minirals__table
					tr
							td 4SO 2- 
							td 9,92 mg/l 
					tr
						td FE+
						td 0,0046 mg/l  
					tr
						td NH+
						td <0,026 mg/l  
					tr
						td MN+
						td <0,0005 mg/l
					tr
						td CL-
						td <2,0 mg/l  
					tr
						td MG+  
						td 2,4 mg/l
			table.minirals__table
					tr
							td NA+  
							td 2,42 mg/l
					tr
						td 2NO -
						td <0,005 mg/l
					tr
						td 3HCO-
						td 200,0 mg/l
					tr
						td 4CA-
						td 70,0 mg/l
					tr
						td K+
						td 1,14 mg/l
					tr
						td 3F-
						td <0,2 mg/l
