#product-video-story-component
	#PVS__frame0.PVS__frame
		p.title Как работает наш&nbsp;фильтр?

	#PVS__frame1.PVS__frame
		p.title Дисплей
		p Дисплей отображает оставшийся ресурс картриджей в литрах. Работает от батарейки, розетки не нужно.

	#PVS__frame2.PVS__frame
		p.title Подготовка
		p Полипропеленовый картридж удаляет примеси размером до 5 микрон: ржавчина, песок, окалина, глина.
		span.step#step1 1

	#PVS__frame3.PVS__frame
		p.title Подготовка
		p Картридж с активированным углем очищает воду от хлорорганических соединений, таких как грибки, продукты гниения, результаты жизненой деятельности организмов.
		span.step#step2 2

	#PVS__frame4.PVS__frame
		p.title Подготовка
		p Угольно-пропеленовый картридж удаляет остаточные примеси размером до 1 микрона.
		span.step#step3 3

	#PVS__frame5.PVS__frame
		p.title Зачем?
		p Подготовка нужна для снижения нагрузки на основную мембрану, чтобы уберечь ее от разъедания хлором и от засорения крупными частицами. Так мы увеличили ресурс самой дорогой части фильтра с 6000л. до 20 000л.

	#PVS__frame6.PVS__frame
		p.title Фильтрация
		p Мембрана пропускает только молекулы воды и кислорода. Очищает воду от вирусов, бактерий, железа, металлов, нитратов и нитритов, солей жесткости.
		span.step#step4 4

	#PVS__frame7.PVS__frame
		p.title Коррекция
		p Постфильтр с кокосовым углем корректирует запах, вкус и выравнивает уровень pH, а ионы серебра препятствуют возможному росту грибков и плесени.
		span.step#step5 5

	#PVS__frame8.PVS__frame
		p.title Минерализация
		p Насыщает воду гранулами калия, кальция, магния, натрия и другими минералами до уровня 170-210 мг/л. </br><a id="openMiniralsModal">  смотреть подробную таблицу минералов</a>
		span.step#step6 6

	#PVS__frame9.PVS__frame
		p.title Биоактиватор
		p Насыщает кислородом до 69% и повышает щелочность. Такая вода удаляет свободные радикалы и дольше сохраняет свежесть.
		span.step#step7 7

	#PVS__frame10.PVS__frame
		p.title Хранение
		p У вас всегда в запасе будет 9 литров полезной воды комнатной температуры в случае перебоев с водоснабжением.

	#video-container
		video(id="video" tabindex="0", autobuffer preload)
			<source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="video/story.webm"></source>
			<source type="video/ogg; codecs=&quot;theora, vorbis&quot;" src="video/story.ogv"></source>
			<source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="video/story.mp4"></source>
			p Sorry, your browser does not support the &lt;video&gt; element.
