#specification-modal.modal
	.modal__navigation
		span.modal__navigation_back.closeSpecificationModal
			img(src="img/back.svg", alt="вернуться назад")
			| Назад
		span.modal__navigation_close.closeSpecificationModal
			img(src="img/close.svg", alt="закрыть окно")
	.modal__content
		table.specification__table
			tr
				td Параметр
				td EcoAqua F-91 <br><small>на одного</small>
				td EcoAqua F-92 <br><small>на двоих</small>
				td EcoAqua F-93 <br><small>на всю семью</small>
			tr
				td Ступеней очистки
				td 5
				td 6
				td 7
			tr
				td Производительность мембраны
				td 5
				td 6
				td 7
			tr
				td Ресурс
				td 5
				td 6
				td 7
			tr
				td Вид крана
				td 5
				td 6
				td 7
			tr
				td Размещение
				td 5
				td 6
				td 7
			tr
				td Объем бака
				td 5
				td 6
				td 7
			tr
				td Минимальная температура на входе
				td 5
				td 6
				td 7
			tr
				td Максимальная температура очищаемой воды
				td 5
				td 6
				td 7
			tr
				td Минимально необходимое давление
				td 5
				td 6
				td 7
			tr
				td Максимальное рабочее давление
				td 5
				td 6
				td 7
			tr
				td Скорость фильтрации в час
				td 5
				td 6
				td 7
			tr
				td Катридж предварительной очистки из полипропилена 5мкм
				td 5
				td 6
				td 7
			tr
				td Катридж предварительной очитски из пресованного активированного угла 5мкм
				td 5
				td 6
				td 7
			tr
				td Катридж предварительно очистки из полипропилена и пресованного активированного угля 1мкм
				td 5
				td 6
				td 7
			tr
				td Мембрана FilmTec TW-1812-50 DOW
				td 5
				td 6
				td 7
			tr
				td Мембрана TW-1812-100 DOW Filmtec
				td 5
				td 6
				td 7
			tr
				td Мембрана TW-1812-100 DOW Filmtec
				td 5
				td 6
				td 7
			tr
				td Угольный постфильтр с ионами серебра
				td 5
				td 6
				td 7

		table.specification__table
			tr
				td Комплектация
			tr
				td Модуль фильтрации с накопительным баком и дисплеем
			tr
				td Хромированый шаровой кран Капля для очищенной воды
			tr
				td Входная муфта с краном подачи воды для подключения фильтра к водопроводу
			tr
				td Комплект трубок для удобного монтажа фильтра
			tr
				td Дренажный хомут для подключения фильтра к канализации
			tr
				td Катриджпредварительной очистки из полипропилена 5мкм
			tr
				td Катридж предварительной очитски из пресованного активированного угла 5мкм
			tr
				td Катридж предварительно очистки из полипропилена и пресованного активированного угля 1мкм
			tr
				td Мембрана FilmTec TW-1812-50 DOW
			tr
				td Мембрана FilmTec TW-1812-50 DOW
			tr
				td Мембрана TW-1812-150 DOW Filmtec
			tr
				td Угольный постфильтр с ионами серебра
			tr
				td Минерализатор
			tr
				td Биоактиватор
			tr
				td Сервисные ключи для замены картриджей и мембраны
			tr
				td Батарейки АА 1,5v 2шт
			tr
				td Батарейки АА 1,5v 2шт


		table.specification__table
			tr
				td Габариты (ВхШхГ)
				td 25х35х39
				td 25х35х39
				td 25х35х39
			tr
				td Габариты упаковки (ВхШхГ)
				td 35х45х55
				td 35х45х55
				td 35х45х55
			tr
				td Вес
				td 14,8
				td 16,1
				td 17,7
			tr
				td Вес
				td 16,4
				td 17,7
				td 19,3
			tr
				td Гарантия
				td 12 мес.
			tr
				td Страна производитель
				td Австрия