#terms-component
	.container
		.terms-item#terms-item__1
			.terms-item__img
				img(src="img/card.svg", width="100%" alt="Условия оплаты")
			.terms-item__text
				h4 Оплата
				p Оплата производится переводом на счет. Реквизиты придут вам на email. Гарантия возврата средств – 20 дней.

		.terms-item#terms-item__2
			.terms-item__img
				img(src="img/parcel.svg", width="100%" alt="Условия доставки")
			.terms-item__text
				h4 Доставка
				p Доставка до отделения почты уже включена в стоимость. При оплате до 12:00 по Москве отправим в тот же день. При заказе с установкой - мастер доставит фильтр на дом.

		.terms-item#terms-item__3
			.terms-item__img
				img(src="img/garanty.svg", width="100%" alt="гарантия на фильтр обратного осмоса")
			.terms-item__text
				h4 Гарантия
				p При подключении нашим специалистом даем пожизненную гарантию и бесплатное обслуживание. При самостоятельном подключении гарантия – 12 месяцев.

		.terms-item#terms-item__4
			.terms-item__img
				img(src="img/cartridge.svg", width="100%" alt="Условия обслуживания")
			.terms-item__text
				h4 Обслуживание
				p Оставшийся ресурс отображается на дисплее. В среднем, замена картриджей нужна 1 раз в год. Вы можете купить их у нас или в других магазинах.