#tester-component
  .container
    .text-block
      h3 Как убедиться, что фильтр очищает воду?
      p В комплекте идет 10 полосок для экспресс-теста воды. Вы сможете проверить домашнюю воду до и после фильтрации на следующие показатели:
      ul
        li Уровень жесткости pH
        li Наличие хлора Cl
        li Карбонатная жесткость GH
        li Общая жесткость KH
        li Нитриты и нитраты
        li Тяжелые металлы
    .img-block
      img(src="../img/icon-tester.svg", alt="фильтр обратного осмоса")
