#tester-component
	.container
		.text-block
			h3 Как убедиться, что фильтр очищает воду?
			p В комплекте идет 10 полосок для экспресс-теста воды. Вы сможете проверить домашнюю воду  до и после фильтрации на следующие показатели: 
			ul
				li Уровень жесткости pH
				li Наличие хлора Cl
				li Карбонатная и общая жесткость GH + KH
				li Содержание нитритов, нитратов
				li Тяжелые металлы
		.img-block
			img(src="img/tester.gif", alt="фильтр обратного осмоса")
