.intro-section{
  margin-top: 5em;
  color: white;
  text-align: center;
  .boollets{
    border: 1px solid rgba(white, .3);
    border-radius: .5rem;
    padding: 1rem;
  }
  .boollets__item{
    display: inline-block;
    position: relative;
    padding-right: 2em;
    margin-right: .5em;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      top: 50%;
      right: 0;
      background: url('./check.svg') no-repeat center;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}
@media(min-width: 768px){
.intro-section{
  margin-top: 4em;
  text-align: left;
  max-height: 700px;
  h1{font-size: 4em;}
}
}
@media(min-width: 1025px){
.intro-section{
  h1{font-size: 5em;}
}
}